
/* Desktops and laptops ----------- */
@media only screen
and (max-width: 1199px) {
    :root {
        --purple: #a16bff;
        --violet: #8b5cff;
        --pink: #ff5cd8;
        }
    
        html {
            scroll-behavior: smooth;
        }

        body {
            display: grid;
            background: rgb(31,210,231);
            background: linear-gradient(135deg, rgba(31,210,231,1) 0%, rgba(168,29,253,1) 50%, rgba(252,176,69,1) 100%);
            position: relative;
            width: 100vw;
            height: 200vh;
            margin: 0px;
            overflow: overlay;
            overflow-x: hidden;
            /*place-items: center;*/
        }
        header.sticky {
            padding: 2vh 2.55vw;
            width: 99vw;
            height: 6.2vh;
            background:rgba(255,255,255,0.4);
            border-radius: 30px;
            margin: 0.6vw;
            font-size:  0.9em;
            transition: 0.4s;
        }
    
        header.sticky li a {
            padding: 1em 8.6vw;
        }
    
        header.sticky ul li a {
            /* FONT COLOR*/
            color: black;
            font-size: 0.9em;
            transition: 0.6s;
        }
        ::-webkit-scrollbar {
            width: 10px;
        }
    
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
    
        ::-webkit-scrollbar-thumb {
            background:rgba(255,255,255,0.4);
            border-radius: 25px;
        }
        header.sticky .active {
            /* ACTIVE */
            background-color: black;
            color: white;
            font-size: 0.9em;
            transition: 0.6s;
        }
    
        header.sticky li :hover{
            /* CHOOSE */
            background-color: darkgray;
            border-radius: 25px;
            opacity: 50%;
            font-size: 0.9em;
            transition: 0.6s;
        }
        header {
            display:block;
            width: 100vw;
            height: 10vh;
            justify-content: space-between;
            position: fixed;
            align-items:center;
            padding: 30px 10vw;
            transition: 0.6s;
            border-radius: 25px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
        }
            
        li {
            float: left;
        }
            
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
           
        /* Change the link color to #111 (black) on hover */
        li a:hover {
           background-color: black;
           border-radius: 25px;
           opacity: 50%;
        }
    
        .active{
            background-color: black;
            opacity: 80%;
            border-radius: 25px;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Rubik", sans-serif;
        }
    
        h1 {
            position: absolute;
            width: 691px;
            height: 147px;
            left: 50vw;
            top: 50vh;
            line-height: 70px;
            color: white;
            text-align: center;
            font-family: "Rubik", sans-serif;
            font-size: 320%;
            font-weight: 400;
            margin: 0px;
            padding: 20px;
            transform: translate(-50%, -50%);
    
        }
    
        @keyframes background-pan {
            from {
                background-position: 0% center;
    
            }
            to {
                background-position: -200% center;
            }
        }
    
        h1 > .magic {
            font-family: "Rubik", sans-serif;
            font-size: 72px;
            animation: background-pan 2s linear infinite;
            background: linear-gradient(
                    to right,
                    var(--purple),
                    var(--violet),
                    var(--pink),
                    var(--purple)
            );
            background-size: 200%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
        }
    
    

}

/* Large screens ----------- */
@media only screen
and (min-width: 1200px) {
    :root {
    --purple: #a16bff;
    --violet: #8b5cff;
    --pink: #ff5cd8;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        display: grid;
        background: rgb(238,174,202);
        background: linear-gradient(135deg, rgba(238,174,202,1) 0%, rgba(194,180,217,1) 49%, rgba(148,187,233,1) 100%);
        position: relative;
        width: 100vw;
        height: 200vh;
        margin: 0px;
        overflow: overlay;
        overflow-x: hidden;
        /*place-items: center;*/
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background:rgba(255,255,255,0.4);
        border-radius: 25px;
    }

    ul {
        border-radius: 25px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255,255,255,0.2);
        /* -webkit-box-shadow:0px 0px 30px 1px rgba(248, 129, 196, 0.877);
        -moz-box-shadow: 0px 0px 30px 1px rgba(248, 129, 196, 0.877);
        box-shadow: 0px 0px 30px 1px rgba(248, 129, 196, 0.877); */
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: black;
        border-radius: 25px;
        opacity: 50%;
    }

    .active{
        background-color: black;
        opacity: 80%;
        border-radius: 25px;
    }

    header {
        display:block;
        width: 100vw;
        height: 10vh;
        justify-content: space-between;
        position: fixed;
        align-items:center;
        padding: 1em 10vw;
        transition: 0.6s;
        border-radius: 25px;
    }

    header.sticky {
        padding: 2vh 2.55vw;
        width: 98.8vw;
        height: 10vh;
        background:transparent;
        border-radius: 30px;
        margin: 0.5vw;
        font-size: 0.9em;
        transition: 0.1s;
        z-index: 1;
    }

    header.sticky li a {
        padding: 1em 10vw;
    }

    header.sticky ul li a {
        /* FONT COLOR*/
        color: WHITE;
        font-size: 0.9em;
        transition: 0.6s;
    }

    header.sticky .active {
        /* ACTIVE */
        background-color: black;
        color: white;
        font-size: 0.9em;
        transition: 0.6s;
    }

    header.sticky li :hover{
        /* CHOOSE */
        background-color: darkgray;
        border-radius: 25px;
        opacity: 50%;
        font-size: 0.9em;
        transition: 0.6s;
    }
    
    h1 {
        position: absolute;
        width: 691px;
        height: 147px;
        left: 50vw;
        top: 50vh;
        line-height: 70px;
        color: white;
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-size: 320%;
        font-weight: 400;
        margin: 0px;
        padding: 20px;
        transform: translate(-50%, -50%);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Rubik", sans-serif;
    }
    @keyframes background-pan {
        from {
            background-position: 0% center;
            backface-visibility: hidden;

        }
        to {
            background-position: -200% center;
            backface-visibility: visible;
        }
    }

    h1 > .magic {
        font-family: "Rubik", sans-serif;
        font-size: 72px;
        animation: background-pan 2s linear infinite;
        background: linear-gradient(
                to right,
                var(--purple),
                var(--violet),
                var(--pink),
                var(--purple)
        );
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }


}